.register-form {
  display: flex;
  flex-direction: column; /* Set flex-direction to column */
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  text-align: center;
  margin-top: 0px;
  background: linear-gradient(
    135deg,
    rgb(179, 215, 227),
    rgb(181, 199, 222),
    rgb(145, 185, 234),
    rgba(0, 0, 0, 0.1)
); /* Linear gradient background with blue shades and a light shade of black */


  height: 350px;
  position: fixed;
  left: 50%;
  top: 130px;
  width: 400px;
  border-radius: 30px;
  transform: translateX(-50%);
  padding: 25px;
  box-shadow: 4px 9px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #fff; /* Add border to the form */
}

.register-form1 {
  display: flex;
  flex-direction: column; /* Set flex-direction to column */
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  text-align: center;
  margin-top: 20px;
  background: linear-gradient(
    135deg,
    rgb(179, 215, 227),
    rgb(181, 199, 222),
    rgb(145, 185, 234),
    rgba(0, 0, 0, 0.1)
); /* Linear gradient background with blue shades and a light shade of black */


  height: 350px;
  position: fixed;
  left: 50%;
  top: 130px;
  width: 400px;
  border-radius: 30px;
  transform: translateX(-50%);
  padding: 25px;
  box-shadow: 4px 9px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #fff; /* Add border to the form */
}

.register-form .form-group {
  margin-bottom: 20px;
  width: 100%; /* Set width of form group to 100% */
}

.register-form1 .form-group {
  margin-bottom: 20px;
  width: 100%; /* Set width of form group to 100% */
}

.register-form .form-group label {
  font-weight: bold;
  color: #555;
  display: block; /* Ensure label is displayed as block */
  text-align: left; /* Align label text to the left */
  margin-bottom: 5px; /* Add margin bottom to label */
}

.register-form1 .form-group label {
  font-weight: bold;
  color: #555;
  display: block; /* Ensure label is displayed as block */
  text-align: left; /* Align label text to the left */
  margin-bottom: 5px; /* Add margin bottom to label */
}

.register-form .form-group input {
  width: calc(100% - 30px); /* Adjust input width to account for padding */
  padding: 10px; /* Adjust input padding */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding and border are included in width */
}

.register-form1 .form-group input {
  width: calc(100% - 30px); /* Adjust input width to account for padding */
  padding: 10px; /* Adjust input padding */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding and border are included in width */
}

.register-form .form-group input:focus {
  outline: none;
  border-color: #007bff;
}
.register-form1 .form-group input:focus {
  outline: none;
  border-color: #007bff;
}



.form-container {
  background-color: #ddefda;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input:focus {
  outline: none;
  border-color: #007bff;
}

.form-error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.user-table {
  background-color: whitesmoke;
  position: fixed;
  left: 100px;
  top: 100px;
  border-radius: 30px;
  /* background-image: url("./Image-Components/bg2.jpg"); */
  background-size: cover;
  background-position: center;
}

.add-productbtn {

  position: relative;
  top: 10px;
  left: 600px;

}

.image-container {
  position: relative;
  width: 260px;
  /* Adjust the container dimensions as needed */
  height: 250px;
  /* You can add additional styles to the container if needed */
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.extraordinary-hover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  backface-visibility: hidden;
}

.hover-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, transparent, rgba(68, 105, 127, 0.7));
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.image-wrapper:hover .extraordinary-hover {
  transform: scale(1.1);
}

.image-wrapper:hover .hover-effect {
  transform: scaleX(1);
}

.cardcontainer {
  position: relative;

  left: 20px;
  top: 30px;
}

.cardcontainer1 {
  position: relative;

  left: 20px;
  top: 50px;
}

.cardcontainer2 {
  position: relative;
  left: 10px;
  top: 100px;
}

.allcategories-tbl {
  position: relative;
  top: 20px;
  background-color: white;
  width: 600px;
  left: 350px;

}

.allOrders-tbl {
  position: relative;
  top: 20px;
  background-color: white;
  width: 1222px;
  
}



.add-category {
  background-color: white;
  width: 500px;
  height: 175px;
  position: relative;
  left: 400px;
}

.add-product-form {
  background-color: white;
  position: fixed;
  height: 800px;
}

.cardcontainer-order {
  width: 1200px;
}

.btn {
  background-color: white;
  position: fixed;
  left: 200px;
  top: 10px;
}

.drop-cat {
  position: fixed;
  left: 1000px;
  top: 120px;
  width: 150px;
  color: bisque;
  background-color: white;
  border-color: white;

}

.drop {
  width: 130px;
  border-color: aqua;
}

.cart-em {
  position: fixed;
  top: 250px;
  left: 470px;
  color: rgb(251, 251, 254);
}

.total-display {
  position: relative;
  left: 500px;
  top: 10px;

  color: rgb(247, 249, 247);
}

.place {
  position: absolute;
  top: 0px;
  left: 600px;

}

.pp {

  position: absolute;

  left: 100px;

  width: 800px;

  color: white;

  top: 350px;

  font-size: 15px;

  font-style: italic;

}

.cs {

  position: absolute;

  left: 900px;

  width: 800px;

  color: white;

  top: 450px;

  font-size: 15px;

  font-style: italic;

}

.cu {

  position: absolute;

  left: 550px;

  width: 800px;

  color: white;

  top: 450px;

  font-size: 15px;

  font-style: italic;

}

.title {

  position: absolute;

  font-size: 75px;

  left: 140px;

  font-family: 'Times New Roman', Times, serif;

  color: whitesmoke;

}

.btnstart {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  background-color: rgb(52, 84, 132);
  color: white;
  font-family: Arial, sans-serif;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnstart:hover {
  background-color: rgb(64, 118, 194);
}


.start-button {
  font-size: 10px;
  background-color: transparent;
  color: rgb(255, 249, 249);
  border: none;
  cursor: pointer;
  transition: color 0.3s, transform 0.5s, font-size 1s; /* Add font-size transition */
}

.start-button:hover {
  color: #000000; /* Change color on hover */
  transform: scale(1.1); /* Increase size on hover */
  font-size: 13px; /* Increase font size on hover */
}

.hovered {
  font-size: 24px; /* Increase font size when hovered */
}

.inc {
  position: relative;
  left: 10px;
  width: 100px;
}

.quanty {
  position: relative;
  left: 25px;
}

.dec {
  position: relative;
  left: 40px;
  width: 100px;
}

.back-btn {
  position: relative;
  left: 90px;
  top: 20px;
}

.allusers-tbl {
  position: absolute;
  left: 200px;
  top: 180px;
  width: 900px;
}

.image-product {

  position: relative;
  width: 275px;
  height: 250px;
  left: 10px;
  top: 10px;
}

.update-user-form {
  position: fixed;
  background-color: white;
}

.upload-img {
  background-color: white;
  width: 400px;
  height: 150px;
  position: fixed;
  top: 200px;
  left: 400px;
}

.upload {
  position: relative;
  left: 10px;

}

/* CSS for Pagination */

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 5px;
  background-color: rgb(191, 213, 220);
  border: 1px solid #000;
}

.pagination button:hover {
  background-color: rgb(98, 98, 98);
  color: white;
}

.pagination button:disabled {
  background-color: lightgrey;
  color: black;
}


/* CSS for Sort Button */
.sort-buttons{
  color: #ddefda;
}

/*  CSS For VIEW BY*/
.view-by{
  width: 10px;
}