body {
  margin: 0;
  /* overflow: hidden; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./Image-Components/furniture1.jpg");
  background-size: cover;
  background-position: center;
  height: 550px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* Homemain */

.banner-text {
  text-align: center;
  width: 100%;
  padding: 20px;
}

/* banner css */
/* CSS for .store-name */
.store-name {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  background-color: #1e1f1f; /* Background color for the store name */
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 10px;
  display: inline-block; /* Ensure inline block display */
  margin-bottom: 10px; /* Adjust margin as needed */
}

/* CSS for .store-description */
.store-description {
  font-size: 20px;
  color: #fff;
  background-color: #1e1f1f; /* Background color for the store description */
  padding: 8px 16px; /* Adjust padding as needed */
  border-radius: 8px;
  display: inline-block; /* Ensure inline block display */
  margin-bottom: 10px; /* Adjust margin as needed */
}


.banner-text h1 {
  color: rgb(202, 210, 179);
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 10px;
}

.banner-text p {
  color: rgb(224, 230, 209);
  font-size: 20px;
}


/* HomeNavbar.css */

/* Styling for the right button container */
.rightButtonsContainer {
  display: flex;
  justify-content: flex-end; /* Move buttons to the right */
  align-items: center;
  

}

/* Styling for the right buttons */
.righttButton {
  text-decoration: none;
  color: rgb(46, 11, 103);
  font-size: 20px;
  margin-left: 800px; /* Add margin between buttons */
  border: 2px solid grey;
  padding: 10px 25px;
  border-radius: 5px; /* Initially square */
  transition: border-radius 0.3s, background-color 0.3s, padding 0.3s;
}

/* Hover effect for rightButton */
.righttButton:hover {
  border-radius: 5px; /* Rounded on hover */
  background-color: #bb73bea7; /* Change hover color */
  padding: 10px 15px; /* Increase padding on hover */
  color: black;
}

/* Styling for the left button */
.lefttButton {
  text-decoration: none;
  color:rgb(46, 11, 103);
  font-size: 20px;
  margin-left: 20px; /* Add margin between buttons */
  border: 2px solid grey;
  padding: 10px 25px;
  border-radius: 5px; /* Initially square */
  transition: border-radius 0.3s, background-color 0.3s, padding 0.3s;
}

/* Hover effect for leftButton */
.lefttButton:hover {
  border-radius: 5px; /* Rounded on hover */
  background-color: #bb73bea7; /* Change hover color */
  padding: 10px 15px; /* Increase padding on hover */
  color: black;
}




/* UserLogin.css */

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin-left: 0px;
  text-align: center;
  margin-top: 0px;
  background-color: #aec5bf;
  position: fixed;
  left: 50%; /* Center the form horizontally */
  top: 130px;
  width: 300px;
  border-radius: 30px;
  transform: translateX(-50%); /* Center the form horizontally */
  padding: 40px;
  box-shadow: 4px 9px 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
}

.form-container {
  background-color: #ddefda;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input:focus {
  outline: none;
  border-color: #007bff;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.form-control {
  width: 100%;
  margin: 20px 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.login-button {
  margin-top: 20px;
}

.back-button {
  margin: 20px 0;
}

.register-text {
  margin: 10px 0;
}

.register-button {
  margin-top: 20px;
}





/* Orders.css */
.allOrders-tbl {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #116f81;
  color: rgb(196, 215, 144);
  font-weight: bold;
}

tr:hover {
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: #073051;
  font-weight: bold;
}

a:hover {
  color: #a9de2e;
  
}



/* OrderedItems.css */
.back-btn {
  margin: 20px;
}

.cardcontainer {
  margin: 20px;
}

.product-card {
  position: relative;
  transition: transform 0.3s;
  box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #362626;
  border-radius: 5px;
  background-color: #c9ca8f;
}

.product-card:hover {
  transform: scale(1.02);
}

.image-container {
  position: relative;
  text-align: center;
}

.image-wrapper {
  overflow: hidden;
}

.hover-effect {
  transition: 0.3s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card:hover .hover-effect {
  opacity: 1;
  background: rgba(33, 150, 243, 0.7);
}

.product-card:hover .hover-effect:hover {
  background: rgba(33, 150, 243, 0.9);
  cursor: pointer;
  color: white;
}

.product-card:hover .hover-effect:hover a {
  text-decoration: none;
  color: white;
}

/* Home style */

.welcome {
  font-size: 3.5rem;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
  background-color: #8bba71; /* Set the background color */
  padding: 20px; /* Add some padding for spacing */
  background-image: linear-gradient(to bottom, #388484, #53698d);
}

.welcome .moving-text {
  display: block;
  white-space: nowrap;
  animation: moveText 10s linear infinite;
}

.welcome-container {
  
  border: 2px solid;
  padding: 20px;
  border-image: linear-gradient(to right, rgb(76, 124, 164), rgb(202, 202, 158)); /* Define the linear gradient */
  border-image-slice: 1; /* Ensure the border image covers the entire border */
}

@keyframes moveText {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* HomeNav bottom bar */
.bottom-content {
  position: relative;
  width: 100%;
  height: 80px; /* Adjust height as needed */
  background: linear-gradient(to right, #c7b4b3, #73a3d4); /* Linear gradient background */
  overflow: hidden;
  margin-top: 234px; 
}

.bottom-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red; /* Text color */
  font-size: 20px; /* Adjust font size */
  font-weight: normal; /* Adjust font weight */
  font-family: Arial, sans-serif; /* Adjust font family */
  text-align: center; /* Center text horizontally */
  /* padding: 1px; Add padding */
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
  border-radius: 5px; /* Add border radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
  white-space: nowrap;
  animation: moveText 10s linear infinite; /* Adjust animation duration as needed */
}

@keyframes moveText {
  0% {
     transform: translateX(100%);
  }
  100% {
     transform: translateX(-100%);
  }
}


@keyframes moveText {
  0% {
     transform: translateX(100%);
  }
  100% {
     transform: translateX(-100%);
  }
}
